<ion-view view-title="Login">
  <ion-content>
    <div class="row row-center">
      <div class="col">
        <img ng-src="img/logo.png" class="center"/>
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nombre de usuario</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-dark" ng-click="login(user)">
        Login
      </button>
    </div>
  </ion-content>
</ion-view>
