<ion-view view-title="Login">
    <ion-content scroll="false">
        <div class="row" style="height:50%;" id="mio">
            <!--div class="col">
                <img ng-src="" class="center" />
            </div-->
        </div>
        <div class="row row-center">
            <div class="col">
                <div class="list">
                    <p class="text-center">
                        {{message}}
                    </p>
                    <label class="item item-input">
                        <input type="text" ng-model="user.j_username" placeholder="Correo electr&oacute;nico" value="admin">
                    </label>
                    <label class="item item-input">
                        <input type="text" ng-model="user.phone" placeholder="N&uacute;mero de tel&eacute;fono">
                    </label>
                    <label class="item item-input">
                        <input type="password" ng-model="user.j_password" placeholder="Password" value="admin">
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col">
                <div class="padding">
                    <button class="button button-block button-dark" ng-click="login()">
                        Login
                    </button>
                    <p class="text-center">
                        <a ng-click="showSignUpForm()">Registrarse</a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>