<ion-view view-title="Registro de usuario">
  <ion-content>

    <div class="list">
      <label>
        {{message}}
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="user.name" placeholder="Juan Perez">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Correo electr&oacute;nico</span>
        <input type="text" ng-model="user.email" placeholder="juan-perez@xyz.com">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">N&uacute;mero de tel&eacute;fono</span>
        <input type="text" ng-model="user.mobile" placeholder="0999999999">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" placeholder="tu-password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-dark" ng-click="registerUser()">
        Enviar
      </button>
    </div>

  </ion-content>
</ion-view>
