<ion-view view-title="Home">
  <ion-content class="padding">
    <h2>Home</h2>
    <p>
      ACT, la herramienta necesaria para hacer la diferencia, la herramienta del empoderamiento ciudadano, la forma de
      convertirnos en los ojos de las ciudades en materia de control de TRANSITO, TRANSPORTE TERRESTRE Y SEGURIDAD VIAL.
      <br/>
      AHORA PODEMOS SER PARTE DE LA SOLUCION.
      <br/>
      UNA FOTO ES SUFICIENTE EVIDENCIA PARA SANCIONAR AL CONDUCTOR ABUSIVO Y PREPOTENTE. UNA FOTO PUEDE SALVAR UNA O MAS
      VIDAS.
      <br/>
      Para una correcto funcionmiento, asegurese de tener habilitado el GPS de su celular.
    </p>
  </ion-content>
</ion-view>
